* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

video {
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: 1;
}

.login-container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 2;
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    color: white;
    padding: 50px;
    border-radius: 10px;
}

.login-container h1 {
    text-align: center;
    margin-bottom: 50px;
}

form .email, form .password {
    display: flex;
    flex-direction: column;
}


