body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: radial-gradient(circle at top, #111218, #000);
  color: white;
}

/* NAVBAR */
.navbar {
  padding: 16px 32px;
  background: rgba(10,10,15,0.9);
  border-bottom: 1px solid rgba(0,229,255,0.3);
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #00e5ff;
  font-weight: 700;
}

.logo img {
  width: 36px;
}

/* LOGIN */
.login-wrapper {
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card {
  width: 360px;
  background: rgba(15,15,20,0.95);
  padding: 30px;
  border-radius: 18px;
  box-shadow:
    0 0 30px rgba(0,229,255,0.4),
    0 0 60px rgba(155,92,255,0.2);
}

.login-card h1 {
  margin-bottom: 20px;
  text-align: center;
}

.login-card input {
  width: 100%;
  margin-bottom: 14px;
  padding: 12px;
  background: transparent;
  border: 1px solid rgba(0,229,255,0.4);
  border-radius: 6px;
  color: white;
}

.login-card input:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0,229,255,0.6);
}

.login-card button {
  width: 100%;
  padding: 12px;
  background: linear-gradient(90deg, #00e5ff, #9b5cff);
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.login-card p {
  margin-top: 16px;
  font-size: 13px;
  text-align: center;
  color: #aaa;
}

.login-card span {
  color: #00e5ff;
  cursor: pointer;
}